@font-face {
    font-family: 'MetaPlus';
    font-style: normal;
    src: url("../webfonts/MetaPlus.woff2");
}

@font-face {
    font-family: 'RoAkazie';
    font-style: normal;
    src: url("../webfonts/RoAkazie.woff2");
}

body {
    font-family: MetaPlus, serif !important;
    background-color: rgb(15 23 42) !important;
}

/*.card {
    background-color: #141e37 !important;
}*/

.navbar {
    background-color: rgb(24, 33, 55) !important;
}

.navbar-brand {
    font-family: RoAkazie, serif !important;
}

@media (prefers-color-scheme: light) {
    .visible {
        color: black;
    }

    .blurred {
        color: transparent;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

@media (prefers-color-scheme: dark) {
    .visible {
        color: white;
    }

    .blurred {
        color: transparent;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}